**/bin/
**/obj/
**/x64/Debug/
**/x64/Release/
.vs/
.vscode/
.idea/
.dotnet-*/
.dotnet-*-install.ps1
.dotnet-install.ps1
TestResults/
artifacts/
*.user
*.suo
*.pfx
*.key
*.cer
.env
appsettings.*.local.json
